<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    
    <mappers>
        <!-- resource要写成路径 -->
        <mapper resource="mybatis/mapper/ArticleMapper.xml"/>
        <mapper resource="mybatis/mapper/CategoryMapper.xml"/>
        <mapper resource="mybatis/mapper/RolesMapper.xml"/>
        <mapper resource="mybatis/mapper/TagsMapper.xml"/>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
    </mappers>
</configuration>